<template>
    <div class="container">
        <h1 class="title">Webmail Setup</h1>
        <hr>
        <h3 class="subtitle">Webmail can be accessed at <a href="https://inbox.zapp-uk.com" target="_blank">https://inbox.zapp-uk.com</a>.</h3>
        <p>Just login with your given email  and password.</p>
        <br>
        <router-link class="button is-outlined is-primary" :to="{name: 'WebmailGuide'}">Webmail Guide</router-link>
    </div>
</template>
