// Included below are all the defined variables from Bulma
// Modify as needed, removing the !default attribute.

// The default Bulma derived variables are declared below
$zapp-orange: #ea5b0c;
$zapp-grey: #3c3c3c;

$primary: $zapp-grey !default;
$info: $zapp-orange!default;
