// Custom settings

.vue-form-wizard {
    margin-top: 5rem;
}
.wizard-header {
display: none;
}

.img-step {
background-color: #d8d8d8;
border-radius: 6px;
padding: 1.25rem;
box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}