<template>
    <div class="container">
        <table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
            <tr>
                <td colspan="2" style="padding-bottom: 5px; color: #000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Kind Regards</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-bottom: 5px; color: #000; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
                    <strong>{{user.firstname}} {{user.lastname}}</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="color: #000; font-size: 16px; font-family: Arial, Helvetica, sans-serif;">{{user.role}}</td>
            </tr>
            <tr>
                <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                    <strong>M:</strong>
                </td>
                <td valign="top" style="vertical-align: top; color: #000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">{{user.mobile}}&nbsp;&nbsp;|
                    <span style="color: #F7751F;">
                        <strong>E:</strong>&nbsp;</span>{{user.email}}</td>
            </tr>
            <tr v-if="user.company.domain === 'zapp-uk.com'">
                <td colspan="2" style="padding-bottom: 8px; padding-top: 5px;">
                    <img src="../../assets/banner.jpg">
                </td>
            </tr>
            <tr>
                <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><strong>A:</strong></td>
                <td valign="top" style="vertical-align: top; color: #000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">The Old Fire Station, Wheeler Lane, Witley, Surrey, GU8 5QU</td>
            </tr>
            <tr>
                <td width="20" valign="top" style="vertical-align: top; width: 20px; color: #F7751F; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><strong>W:</strong></td>
                <td valign="top" style="vertical-align: top; color: #000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                    <a :href="fullDomain" style=" color: #000; text-decoration: none; font-weight: normal; font-size: 14px;">{{fullDomain}}</a>&nbsp;&nbsp;|
                    <span style="color: #F7751F;"><strong>E:</strong>&nbsp;</span>
                    <a :href="`mailto:enquiries@${user.company.domain}`" style="color: #000; text-decoration: none; font-weight: normal; font-size: 14px;">enquiries@{{user.company.domain}}</a>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
  props: ['user'],
  computed: {
    fullDomain () {
      if (this.user.company.domain === 'zapp-uk.com') return 'http://www.zapp-uk.com'
      else return 'https://elegante-uk.com'
    }
  }
}
</script>
