<template>
<div class="setup container">
    <h1 class="title">Good {{time}} {{user.firstname}},</h1>
    <h4 class="subtitle">Congratulations on your new position as
        <strong>{{user.role}}</strong> at {{user.company.name}}!</h4>
    <br>
    <h4>First things first:</h4>
    <p>Let's setup your email address. This interactive guide will walk you through a few steps, and you'll be sending emails
        as
        <strong>{{user.email}}</strong> in no time.</p>
    <hr />
    <div v-if="$apollo.loading">Loading...</div>
    <div class="columns">
        <div class="column is-3">
        <router-link class="box" :to="{name: 'SetupDesktop'}">
            <article class="media">
            <div class="media-content">
                <div class="content">
                <h3 class="subtitle">Setup on desktop client</h3>
                <hr>
                <p v-for="desktopClient in allGuides.allDesktopEmailGuides" :key="desktopClient.id">{{desktopClient.clientName}}</p>
                </div>
            </div>
            </article>
        </router-link>
        </div>
        <div class="column is-3">
        <router-link class="box" :to="{name: 'SetupMobile'}">
            <article class="media">
            <div class="media-content">
                <div class="content">
                <h3 class="subtitle">Setup on mobile client</h3>
                <hr>
                <p v-for="mobileClient in allGuides.allMobileEmailGuides" :key="mobileClient.id">{{mobileClient.clientName}}</p>
                </div>
            </div>
            </article>
        </router-link>
        </div>
        <div class="column is-3">
        <router-link class="box" :to="{name: 'SetupWebmail'}">
            <article class="media">
            <div class="media-content">
                <div class="content">
                <h3 class="subtitle">Use webmail</h3>
                <hr>
                </div>
            </div>
            </article>
        </router-link>
        </div>
        <div class="column is-3">
        <router-link class="box" :to="{name: 'signature'}">
            <article class="media">
            <div class="media-content">
                <div class="content">
                <h3 class="subtitle">Setup Signature</h3>
                <hr>
                </div>
            </div>
            </article>
        </router-link>
        </div>
    </div>
</div>
</template>

<script>
export default {
  data () {
    return {
      time: '',
      user: {}
    }
  },
  computed: {
    curHr () {
      const today = new Date()
      return today.getHours()
    },
    allGuides () {
      return this.$store.state.guides
    }
  },
  created () {
    if (this.curHr < 12) {
      this.time = 'morning'
    } else if (this.curHr <= 18) {
      this.time = 'afternoon'
    } else {
      this.time = 'evening'
    }
    this.user = this.$store.state.user
  }
}
</script>
