<template>
    <div class="container">
        <h1 class="title">Finished setup!</h1>
        <p>Congratulations! You should now be up and running.</p>
        <br>
        <p>Please send an email from your new account to <a href="mailto:test-setup@zapp-uk.com">test-setup@zapp-uk.com</a> to test and verify your settings.</p>
        <br>
        <hr>
        <h4 class="subtitle">Done?</h4>
        <router-link class="button is-primary is-outlined" :to="{name: 'signature'}">Setup Signature</router-link>
    </div>
</template>
