<template>
  <div class="home">
    <div class="section">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'setup',
  beforeCreate () {
    if (!this.$store.state.user.email) {
      this.$router.replace('/')
    }
  }
}
</script>
