<template>
    <div class="container">
        <h1 class="title">Signature</h1>
        <h3 class="subtitle">Setup your {{user.company.name}} Signature</h3>
        <br>
        <p>Copy this signature, then paste into the signature setup wizard in your email client.</p>
        <br>
        <b-tooltip label="Automatically copy text to clipboard"
          type="is-dark"
          position="is-top"
          animated>
          <button class="button is-warning" @click="copy">Copy Signature</button>
        </b-tooltip>
        <hr>
        <sig-result :user="user" ref="signature" id="signature"></sig-result>
    </div>
</template>

<script>
import SigResult from '@/components/Signature/Signature'
export default {
  components: {
    SigResult
  },
  computed: {
    user () {
      return this.$store.state.user
    }
  },
  beforeCreate () {
    if (!this.$store.state.user.email) {
      this.$router.replace('/')
    }
  },
  methods: {
    copy () {
      const sel = window.getSelection()
      const text = document.getElementById('signature')
      const range = document.createRange()
      range.selectNodeContents(text)
      sel.removeAllRanges()
      sel.addRange(range)
      document.execCommand('copy')
      this.$toast.open({
        message: 'Copied Signature! Now paste into your email client',
        type: 'is-success',
        position: 'is-top'
      })
    }
  }
}
</script>
