<template>
  <div class="section">
    <div class="container">
      <div class="container has-text-centered">
        <h1 class="title">Welcome!</h1>
        <h3 class="subtitle">Let's start the setup.</h3>
      </div>
      <hr>
      <div class="form columns is-centered">
        <div class="column is-4">
          <h4 class="subtitle">First, a few details about you:</h4>
          <div class="field is-horizontal">
            <div class="field-body">
              <b-field label="First Name">
                <b-input v-model="details.firstname" name="firstname" v-validate="'required'" placeholder="First name"></b-input>
              </b-field>
              <b-field label="Last Name">
                <b-input v-model="details.lastname" name="lastname" v-validate="'required'" placeholder="Last name"></b-input>
              </b-field>
            </div>
          </div>
          <p class="help is-danger">{{ errors.first('firstname') }}</p>
          <p class="help is-danger">{{ errors.first('lastname') }}</p>
          <b-field label="Job Role">
            <b-input v-model="details.role" name="role" v-validate="'required'" placeholder="Job Role"></b-input>
          </b-field>
          <p class="help is-danger">{{ errors.first('role') }}</p>
          <b-field label="Mobile Number">
            <b-input v-model="details.mobile" name="mobile" v-validate="'required|numeric'" placeholder="Mobile Number"></b-input>
          </b-field>
          <p class="help is-danger">{{ errors.first('mobile') }}</p>
          <!-- Bit of hacking here, only one label on email input drops it and puts it at a deiff level to the domain select -->
          <label class="label">Email Address</label>
          <div class="field has-addons">
            <p class="control is-expanded">
              <input name="email" class="input" type="text" placeholder="john.doe" v-model="details.email" v-validate="{required: true, regex: /(\w)$/}">
            </p>
            <p class="control">
              <a class="button is-static">
                @
              </a>
            </p>
            <p class="control">
              <b-select name="domain" placeholder="Select a domain" v-model="details.company" v-validate="'required'">
                <option
                    v-for="(company, index) in companies"
                    :value="company"
                    :key="index">
                    {{ company.domain }}
                </option>
              </b-select>
            </p>
          </div>
          <p class="help is-danger">{{ errors.first('email') }}</p>
          <p class="help is-danger">{{ errors.first('domain') }}</p>
          <hr>
          <div class="control">
            <button class="button is-primary" @click="saveData">Onward!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      companies: [
        {domain: 'zapp-uk.com', name: 'Zapp UK'},
        {domain: 'elegante-uk.com', name: 'Elegante UK'}
      ],
      details: {
        firstname: '',
        lastname: '',
        email: '',
        company: null,
        role: '',
        mobile: ''
      }
    }
  },
  methods: {
    saveData () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$store.dispatch('userData', this.details)
          this.$router.push('/setup')
        } else {
          this.$dialog.alert({
            title: 'Error',
            message: 'You need to fill in all the required fields before we can continue.',
            type: 'is-danger',
            hasIcon: true,
            icon: 'times-circle',
            iconPack: 'fa'
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .form {
    margin-top: 3rem;
  }
</style>
