<template>
    <div class="container">
        <h1 class="title">Let's setup your address on your mobile!</h1>
        <p>Firstly, which email client do you have?</p>
        <hr>
        <div v-if="$apollo.loading">Loading...</div>
        <div class="columns is-multiline">
            <div class="column is-3" v-for="guide in guides" :key="guide.id">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        <img :src="`${guide.clientPreview.url}?fit=crop&crop=top&w=400&h=300&auto=format,compress,enhance`" :alt="guide.clientname">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h3 class="title">{{guide.clientName}}</h3>
                            <router-link class="button" :to="`mobile/${guide.slug}`">
                                <span>Setup</span>
                                <span class="icon is-small">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  computed: {
    guides () {
      return this.$store.state.guides.allMobileEmailGuides
    }
  }
}
</script>
