<template>
    <div class="container">
        <div v-if="$apollo.loading">Loading...</div>
        <div v-else>
          <h1 class="title">Setup {{client.clientName}}</h1>
          <form-wizard shape="tab" @on-complete="onComplete" :start-index="1"  color="#ea5b0c">
              <tab-content :title="step.stepName" v-for="(step, index) in client.steps" :key="index">
                <div class="container has-text-centered is-centered">
                  <figure>
                    <img class="img-step" :src="`${step.stepImage.url}?auto=format,compress,enhance&h=600`" :alt="step.stepName">
                  </figure>
                  <hr>
                  <div class="content"><vue-markdown>{{step.stepDescription | replaceDomain(domain)}}</vue-markdown></div>
                </div>
              </tab-content>
          </form-wizard>
        </div>
    </div>
</template>

<script>
import gql from 'graphql-tag'
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import VueMarkdown from 'vue-markdown'
export default {
  data () {
    return {
      client: {},
      domain: this.$store.state.user.company.domain
    }
  },
  components: {
    FormWizard,
    TabContent,
    VueMarkdown
  },
  methods: {
    onComplete () {
      this.$router.push({name: 'finish'})
    }
  },
  beforeCreate () {
    if (!this.$store.state.user.email) {
      this.$router.replace('/')
    }
  },
  created () {
    this.$apollo.query({
      query: gql`query guide ($slug: String!) {
        mobileEmailGuide (filter: {slug: {
          eq: $slug
        }}) {
          id
          clientName
          steps {
            ...on StepRecord {
              stepName
              stepImage {
                url
              }
              stepDescription
            }
          }
        }
      }`,
      variables: {
        slug: this.$route.params.client
      }
    }).then(response => {
      this.client = response.data.mobileEmailGuide
    })
  }
}
</script>
