<template>
    <nav class="level">
        <router-link class="level-item has-text-centered" to="/setup">
            <img src="../assets/logos/Zapp-grey.svg" alt="Zapp UK Logo" style="height: 50px;">
        </router-link>
    </nav>
</template>

<style lang="scss" scoped>
    nav {
        margin: 2rem;
    }
</style>
