<template>
  <div id="app">
    <Nav />
    <router-view/>
  </div>
</template>

<script>
import Nav from '@/components/Header'
import gql from 'graphql-tag'
export default {
  components: { Nav },
  created () {
    this.$apollo.query({
      query: gql`query {
        allDesktopEmailGuides {
          id
          slug
          clientName
          clientPreview {
            url
          }
        }
        allMobileEmailGuides {
          id
          slug
          clientName
          clientPreview {
            url
          }
        }
      }`
    }).then((response) => {
      this.$store.commit('setGuides', response.data)
    })
  }
}
</script>
